:root {
    --primary: #3D3536;
    --secondary: #F0E6B1;
    --tertiary: #70584B;
    --money: #99A37A;

    --primary-shadow: black;

    --secondary-faded: #4a452b;
    --secondary-shadow: #F0E6B166;

    /* --primary: #332F29;
    --secondary: #CC3910;
    --tertiary: #F1F2C0;
    --money: #8FA68E;

    --secondary-faded: #d0875c;
    --secondary-shadow: #CC391033; */

    /* --primary: #63674A;
    --secondary: #EDC5B5;
    --tertiary: #907465;
    --money: #63674A;

    --secondary-faded: #a89680;
    --secondary-shadow: #EDC5B533; */
}

button  {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
}

button:focus {
    outline: none;
}

.App {
    text-align: center;
    color: var(--secondary);
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.dialogue {
    width: 100%;
    margin-top: auto;
    text-align: justify;
}

.dialogueBox {
    padding: 25px;
    margin: 100px;
    border: 10px solid #2c4a69;
    background-color: #223344;

    display: flex;
    flex-direction: row;
}

.dialogueNext {
    margin-left: auto;
    cursor: pointer;
    user-select: none;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*******************/
.game-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

/***** Sidebar ******/

.sidebar-container {
    display: flex;
    flex-direction: column;

    background-color: var(--secondary);
    width: 20%;
}

.sidebar-name {
    margin-bottom: 0px;

    color: var(--primary);
}

.sidebar-reputation {
    color: var(--primary);
}

.sidebar-money {
    color: var(--money);
    font-size: 36px;

    margin-top: 20px;
    margin-bottom: auto;
}

.sidebar-notebook-container {
    width: 100%;
    margin-bottom: 20%;

    text-align: center;
}

.sidebar-notebook {
    width: 50%;
    padding-bottom: 62.5%; /* use instead of height to keep aspect ratio */
    margin: 0 auto;

    background-color: var(--tertiary);
    transform: rotate(20deg);
}

.inverted.sidebar-container {
    background-color: var(--primary);
}

.inverted .sidebar-name, .inverted .sidebar-reputation {
    color: var(--secondary);
}

/***** City ******/

.city-container {
    background-color: var(--primary);
    width: 80%;
}

.city-title {
    font-size: 48px;
    border-top: 0px;

    display: inline-block;
    padding: 10px 50px 30px 50px;
}

.city-title:after {
    content: "";

    display: block;
    position: relative;
    left: -52%;

    height: 50%;
    width: 200%;

    padding-top: 20px;
    margin: 0 auto;

    border: 3px solid var(--secondary-faded);
    border-top: 0;
}

.city-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.city-grid button {
    width: 40%;

    padding: 10px;
    margin: 50px 0;

    font-size: 24px;

    background-color: var(--secondary);
    color: var(--primary);
    box-shadow: 0px 3px 15px var(--secondary-shadow);
}

.city-grid button:active {
    box-shadow: 0px 3px 5px var(--secondary-shadow);
}

.city-grid button:nth-child(odd) {
    justify-self: right;
    margin-right: 75px;
}

.city-grid button:nth-child(even) {
    justify-self: left;
    margin-left: 75px;
}

/***** Info tabs *****/

.info-container {
    width: 60%;

    background-color: var(--primary);

    box-shadow: 0px 3px 15px var(--secondary-shadow);

    margin: auto;
}

.info {
    font-size: 20px;
    text-align: left;

    padding: 50px;
    
    background-color: var(--secondary);
    color: var(--primary);
}

.info-choice-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    font-size: 24px;
}

.info-choice {
    flex: 1 1 0;

    color: var(--secondary);
    font-size: inherit;

    padding: 0.5em;
    box-shadow: inset 0px 3px 5px var(--primary-shadow);

    border: 1px solid var(--secondary);
    
    transition: border 0.25s, box-shadow 0.25s;
}

.info-choice:hover {
    border: 1px solid transparent;
}

.info-choice:active {
    box-shadow: inset 0px 3px 15px var(--primary-shadow);
}

.inverted.info-container {    
    box-shadow: 0px 3px 15px var(--primary-shadow);
}

.inverted .info {
    background-color: var(--primary);
    color: var(--secondary);
}

.inverted .info-choice {
    background-color: var(--secondary);
    color: var(--primary);
    border: 1px solid var(--primary);
    box-shadow: inset 0px 3px 5px var(--secondary-faded);
}

.inverted .info-choice:hover {
    border: 1px solid transparent;
    box-shadow: none;
}

.inverted .info-choice:active {
    box-shadow: 0px 3px 15px white;
}

/***** Main Street *****/

.recruit-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 60%;
    margin: auto;
    margin-top: 20%;
}

.recruit {
    background-color: var(--secondary);
    color: var(--primary);

    box-shadow: 0px 3px 10px var(--secondary-shadow);
    padding: 0 15px;
}

/***** Journey ******/

.journey-container {
    background-color: var(--secondary);
    width: 80%;
}

.journey-destination {
    margin-bottom: 0;
    padding: 10px 50px;
    
    font-size: 40px;
    color: var(--primary);
}

.journey-day {
    margin: 0;
    margin-bottom: 3em;

    font-size: 24px;
    color: var(--primary);
}